USE [laboratoria]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](100) NULL,
	[entity_type] [varchar](50) NULL,
	[entity_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_raw_usage]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_raw_usage](
	[id] [int] NOT NULL,
	[batch_id] [int] NULL,
	[raw_batch_id] [int] NULL,
	[actual_quantity] [numeric](12, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deviations]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deviations](
	[id] [int] NOT NULL,
	[batch_id] [int] NULL,
	[step_execution_id] [int] NULL,
	[param_name] [varchar](100) NULL,
	[planned_value] [varchar](50) NULL,
	[actual_value] [varchar](50) NULL,
	[severity] [varchar](20) NULL,
	[description] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_tests]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_tests](
	[id] [int] NOT NULL,
	[object_type] [varchar](20) NULL,
	[object_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[decision] [varchar](20) NULL,
	[reason] [text] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_batches]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_batches](
	[id] [int] NOT NULL,
	[order_id] [int] NULL,
	[batch_number] [varchar](50) NOT NULL,
	[start_date] [timestamp] NOT NULL,
	[status] [varchar](20) NULL,
	[tech_map_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] NOT NULL,
	[order_number] [varchar](50) NOT NULL,
	[product_id] [int] NULL,
	[recipe_id] [int] NULL,
	[planned_quantity] [numeric](12, 2) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[type] [varchar](50) NULL,
	[form] [varchar](50) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_materials]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_materials](
	[id] [int] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[category] [varchar](50) NULL,
	[unit] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [int] NOT NULL,
	[recipe_id] [int] NULL,
	[raw_material_id] [int] NULL,
	[percentage] [numeric](10, 2) NULL,
	[load_order] [int] NULL,
	[tolerance] [numeric](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[recipe_id] ASC,
	[raw_material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] NOT NULL,
	[product_id] [int] NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[approved_date] [date] NULL,
	[author_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[step_actual_params]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[step_actual_params](
	[id] [int] NOT NULL,
	[execution_id] [int] NULL,
	[param_id] [int] NULL,
	[actual_value] [numeric](10, 2) NULL,
	[comment] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[step_executions]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[step_executions](
	[id] [int] NOT NULL,
	[batch_id] [int] NULL,
	[step_id] [int] NULL,
	[start_time] [timestamp] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[step_parameters]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[step_parameters](
	[id] [int] NOT NULL,
	[step_id] [int] NULL,
	[param_name] [varchar](100) NULL,
	[min_value] [numeric](10, 2) NULL,
	[max_value] [numeric](10, 2) NULL,
	[unit] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_maps]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_maps](
	[id] [int] NOT NULL,
	[product_id] [int] NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_steps]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_steps](
	[id] [int] NOT NULL,
	[tech_map_id] [int] NULL,
	[step_number] [int] NOT NULL,
	[name] [varchar](100) NULL,
	[type] [varchar](50) NULL,
	[instruction] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_results]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_results](
	[id] [int] NOT NULL,
	[test_id] [int] NULL,
	[parameter_name] [varchar](100) NULL,
	[norm_min] [numeric](10, 2) NULL,
	[norm_max] [numeric](10, 2) NULL,
	[actual_value] [numeric](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19.05.2026 14:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[role_id] [int] NULL,
	[department] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[deviations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lab_tests] ADD  DEFAULT ('in_progress') FOR [status]
GO
ALTER TABLE [dbo].[production_batches] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT ('created') FOR [status]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[recipe_components] ADD  DEFAULT ((0)) FOR [tolerance]
GO
ALTER TABLE [dbo].[step_executions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_raw_usage]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([step_execution_id])
REFERENCES [dbo].[step_executions] ([id])
GO
ALTER TABLE [dbo].[lab_tests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([tech_map_id])
REFERENCES [dbo].[tech_maps] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[step_actual_params]  WITH CHECK ADD FOREIGN KEY([execution_id])
REFERENCES [dbo].[step_executions] ([id])
GO
ALTER TABLE [dbo].[step_actual_params]  WITH CHECK ADD FOREIGN KEY([param_id])
REFERENCES [dbo].[step_parameters] ([id])
GO
ALTER TABLE [dbo].[step_executions]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[step_executions]  WITH CHECK ADD FOREIGN KEY([step_id])
REFERENCES [dbo].[tech_steps] ([id])
GO
ALTER TABLE [dbo].[step_parameters]  WITH CHECK ADD FOREIGN KEY([step_id])
REFERENCES [dbo].[tech_steps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tech_maps]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[tech_steps]  WITH CHECK ADD FOREIGN KEY([tech_map_id])
REFERENCES [dbo].[tech_maps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[test_results]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[lab_tests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD CHECK  (([severity]='critical' OR [severity]='medium' OR [severity]='low'))
GO
ALTER TABLE [dbo].[lab_tests]  WITH CHECK ADD CHECK  (([object_type]='product_batch' OR [object_type]='raw_material'))
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD CHECK  (([percentage]>(0)))
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='approved' OR [status]='draft'))
GO
ALTER TABLE [dbo].[tech_maps]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='approved' OR [status]='draft'))
GO
